


table, th, td {
    border: 1px solid black;
    text-align: center;

}


h1 {
    background: none;
    color: salmon;
    text-align: center;
    font-size: 60px;
}

img {
    margin: 3px 95px;
}