body {
    background-image: url("http://www.allwhitebackground.com/images/2/2274.jpg");
    background-size: 100% 100%;
    background-repeat: repeat;
    background-position: center;
   
}


table, th, td {
    border: 1px solid black;
    text-align: center;

}


h1 {
    background: none;
    color: salmon;
    text-align: center;
    font-size: 60px;
    font-family: 'Cutive', serif;
    margin: 0%;
}

img {
    margin: 0% 25%;
    width: 55%
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(250,128,114,0.5);
}
p {
    text-align: center;
    font-family: 'Cutive', serif;
    color: salmon;
}